/* Estilos Generales */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f4f4f4;
}

header, footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}

header h1, header p {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

.youtube-video {
    width: 100%;
    height: auto;
}

/* Estilos para imágenes */
img {
    width: 100%;
    height: auto;
    object-fit: cover; /* Asegura que las imágenes se recorten para ajustarse, manteniendo su aspecto */
}

/* Estilos para Divs de Sección */
section > div {
    margin-bottom: 15px;
}

/* Botones */
button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

/* Footer */
.footer-social img {
    width: 24px;
    height: 24px;
    margin: 0 10px;
}

.footer-social {
    text-align: center;
}

/* Media Queries para Responsividad */
@media (max-width: 600px) {
    nav ul li {
        display: block;
        margin-bottom: 5px;
    }
}

